.clockCardWrapper-489{width: 250px!important; height: 75px; padding:10px!important;}
.clockCardWrapper_e99de8bf{width: 250px!important; height: 75px; padding:10px!important;}
.time_e99de8bf{font-size: 24px;}
[dir=ltr] .time_e99de8bf{padding-right: 15px!important;}
.location_e99de8bf{margin-bottom: 2px!important;}
.dateAndTimezoneContainer_e99de8bf{line-height: 10px;}